<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-firstapp" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>firstapp</name><js-module name="firstapp" src="www/firstapp.js"><clobbers target="cordova.plugins.firstapp" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="firstapp"><param name="android-package" value="cordova-plugin-firstapp.firstapp" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/firstapp.java" target-dir="src/cordova-plugin-firstapp/firstapp" /></platform></plugin>